[mariadb]
require-secure-transport = FALSE
general-log = 1
server-id = £INDEX£
innodb-buffer-pool-size = £INNODB_BUFFER_POOL_SIZE£
innodb-buffer-pool-dump-pct = 75
max-connections = £DB_MAX_CONNECTIONS£
binlog-expire-logs-seconds = 604800
back-log = 2000
bulk-insert-buffer-size = 32M
character-set-filesystem = binary
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
connect-timeout = 5
ft-min-word-len = 2
group-concat-max-len = 102400
interactive-timeout = 28800
join-buffer-size = £DB_JOIN_BUFFER_SIZE£
key-buffer-size = £DB_KEY_BUFFER_SIZE£
lock-wait-timeout = 1800
log-slow-verbosity = full
long-query-time = 5
max-allowed-packet = 64M
max-binlog-size = 1G
max-error-count = 65535
max-heap-table-size = 128M
max-statement-time = 3600
myisam-recover-options = BACKUP,FORCE
myisam-stats-method = NULLS_EQUAL
net-read-timeout = 300
net-write-timeout = 600
open-files-limit = 1048576
performance-schema-max-thread-instances = 2048
performance-schema-max-sql-text-length = 10240
relay-log-space-limit = 50G
relay-log-recovery = TRUE
slave-net-timeout = 60
slow-query-log = TRUE
table-definition-cache = 15000
table-open-cache = 15000
thread-cache-size = 200
thread-stack = 512k
tmp-table-size = 128M
wait-timeout = 100
innodb-io-capacity = 25000
innodb-io-capacity-max = 50000
innodb-lock-wait-timeout = 1800
innodb-log-buffer-size = 16M
innodb-log-file-size=1G
innodb-old-blocks-time = 1000
innodb-open-files = 15000
innodb-purge-threads = 2
innodb-read-io-threads = 16
innodb-write-io-threads = 32
low-priority-updates = 1
myisam-sort-buffer-size = £MY_ISAM_SORT_BUFFER_SIZE£
read-buffer-size = 2M
read-rnd-buffer-size = 2M
sql-mode = ''
max-connect-errors = 100000000